chat.ximarketing.ai {
    encode zstd gzip

    @chat path /api/chat
    handle @chat {
        request_body {
            max_size 16KB
        }
        reverse_proxy ximarketing-chat-api:8787 {
            header_up X-Real-IP {remote_host}
        }
    }

    @contact path /api/contact
    handle @contact {
        request_body {
            max_size 4MB
        }
        reverse_proxy ximarketing-chat-api:8787 {
            header_up X-Real-IP {remote_host}
        }
    }

    handle /health {
        reverse_proxy ximarketing-chat-api:8787 {
            header_up X-Real-IP {remote_host}
        }
    }

    handle {
        respond 404
    }

    log {
        output discard
    }
}
